absl-py==1.4.0
astunparse==1.6.3
attrs==20.3.0
auto-shap==0.3.0
aws-cfn-bootstrap==2.0
awscli==2.9.19
awscrt==0.16.7
Babel==2.9.1
cachetools==5.3.1
cffi==1.14.5
chardet==4.0.0
chevron==0.13.1
cloud-init==22.2.2
cloudpickle==2.2.1
colorama==0.4.4
configobj==5.0.6
contourpy==1.1.0
cryptography==36.0.1
cycler==0.11.0
dbus-python==1.2.18
distro==1.5.0
docutils==0.16
ec2-hibinit-agent==1.0.2
flatbuffers==23.5.26
fonttools==4.42.1
future==0.18.3
gast==0.4.0
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gpg==1.15.1
grpcio==1.57.0
h5py==3.9.0
hyperopt==0.2.7
idna==2.10
importlib-metadata==6.8.0
importlib-resources==6.0.1
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.3.2
jsonpatch==1.21
jsonpointer==2.0
jsonschema==3.2.0
keras==2.13.1
kiwisolver==1.4.5
libclang==16.0.6
libcomps==0.1.18
llvmlite==0.40.1
lockfile==0.12.2
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib==3.7.2
netifaces==0.10.6
networkx==3.1
numba==0.57.1
numpy==1.24.3
oauthlib==3.0.2
opt-einsum==3.3.0
packaging==23.1
pandas==2.1.0
Pillow==10.0.0
ply==3.11
prettytable==0.7.2
prompt-toolkit==3.0.24
protobuf==4.24.2
py4j==0.10.9.7
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.20
pyparsing==3.0.9
pyrsistent==0.17.3
pyserial==3.4
PySocks==1.7.1
python-daemon==2.3.0
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==5.4.1
release-notification==1.2
requests==2.25.1
requests-oauthlib==1.3.1
rpm==4.16.1.3
rsa==4.9
ruamel.yaml==0.16.6
ruamel.yaml.clib==0.1.2
scikit-learn==1.3.0
scipy==1.11.2
selinux==3.4
sepolicy==3.4
setools==4.4.1
shap==0.42.1
six==1.15.0
slicer==0.0.7
support-info==1.0
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.33.0
termcolor==2.3.0
threadpoolctl==3.2.0
tqdm==4.66.1
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.25.10
wcwidth==0.2.5
Werkzeug==2.3.7
wrapt==1.15.0
xgboost==1.7.6
zipp==3.16.2
